<a data-fancybox="gallery" href="/assets/images/{{elemento.imagen}}" class="proyecto proyecto-ilu">
  <img src="/assets/images/{{elemento.imagen}}" alt="" style="inline-size: -webkit-fill-available;">
  <span class="proyecto-ilu-overlay">
    {{elemento.desc}}
  </span>
</a>
